/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font Family- Margin- Padding */
* {
  font-family: "Poppins";
  margin: 0px;
  padding: 0px;
}

/* BE-6 Header Section- Css Start */
.navigationBar ul {
  list-style: none;
}
.navigationBar a {
  text-decoration: none;
  color: #4d4d4d;
}
.navigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 30px;
}
.navigationBar .header-menu {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-family: "poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
}
.navigationBar a:hover {
  color: #f55253;
}
/*Search Bar */
.search-bar-div {
  width: max-content;
  display: flex;
  flex-direction: row;
  padding: 14px;
  box-shadow: 0px 20px 50px 0px rgba(242, 242, 242, 0.9);
  position: relative;
  border-radius: 8px;
}
.search-area {
  font-size: 14px;
  line-height: 14px;
  font-family: "poppins";
  color: #232323;
  font-weight: 500;
  margin-left: 14px;
  margin-right: 10px;
  border-width: 1.5px;
  border-color: #f2f2f2;
  border-bottom: none;
  border-top: none;
  border-left: none;
}
.btn-shopping {
  background: url(./image/shopping.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.8rem;
  border: none;
}
.notification {
  position: absolute;
  top: -7px;
  right: -7px;
  background-color: #f86061;
  border-radius: 50px;
  width: 24px;
  height: 24px;
  text-align: center;
  color: white;
  padding: 1px;
  box-shadow: -6px 9px 24px -6px rgb(248, 96, 97);
}
/* BE-6 Header Section- Css End */
/* melikeunsaldi/BE-7/Hero-Section part begins */
.hero-section {
  display: flex;
  overflow: hidden;
  align-items: center;
  max-width: 1296px;
  padding: 20px;
  margin: 0 auto;
}

.header-content {
  flex: 1;
}

.hero-section .tagline {
  margin-block: 20px;
  border-radius: 23px;
  display: inline-flex;
  background-color: rgba(253, 236, 236, 1);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: rgba(245, 85, 86, 1);
  padding: 15px 20px;
}

.header-content h1 {
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  font-weight: 800;
  line-height: 88px;
  color: rgba(46, 46, 46, 1);
}

.header-content .highlight {
  font-weight: 500;
  letter-spacing: -0.05em;
  color: rgba(245, 75, 75, 1);
}

.header-content h1 span {
  font-weight: 500;
  letter-spacing: -0.08em;
}

.header-content p {
  font-family: "Poppins", sans-serif;
  max-width: 500px;
  margin-block: 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.005em;
  color: rgba(103, 103, 103, 1);
}

.hero-section .actions {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-section .order-now {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  display: inline-flex;
  border-radius: 12px;
  background: rgba(248, 96, 97, 1);
  color: rgba(255, 250, 250, 1);
  border: none;
  padding: 20px 30px;
  cursor: pointer;
  transition: opacity 0.4s ease;
}

.hero-section .order-now:hover {
  opacity: 0.8;
}

.hero-section .play-button {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  box-shadow: 0px 20px 49px -10px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section .play-icon {
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 17px solid rgba(253, 197, 94, 1);
  box-shadow: 0px 8px 15px 0px rgba(253, 197, 94, 0.2);
  transform: rotate(-90deg);
}

.hero-section .order-process {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: rgba(54, 54, 54, 1);
  cursor: pointer;
}

.header-image {
  display: flex;
  flex: 1;
  position: relative;
  flex-direction: row;
}

.header-image > img {
  max-width: 350px;
  transition-duration: 0.5s;
}

.header-image > img:hover {
  transform: scale(1.1);
}

.header-orange {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 50px 80px 0px rgba(0, 0, 0, 0.08);
}

.header-orange .orange-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.header-orange .rectangle {
  background-color: rgba(255, 166, 16, 1);
  width: 20px;
  height: 2px;
  border-radius: 1px;
}

.header-orange h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.header-orange h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.header-orange h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: rgba(165, 165, 165, 1);
}

.hero-section .shopping-icon {
  background: linear-gradient(180deg, #ff7071 0%, #e73d3e 100%);
  border-radius: 14px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  transform: translateY(30px);
  transition: opacity 0.4s ease;
  cursor: pointer;
}
.hero-section .shopping-icon:hover {
  opacity: 0.8;
}

.header-delivery {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 50px 80px 0px rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 0;
  right: 0;
}

.hero-section .delivery-icon {
  font-size: 24px;
  padding-right: 15px;
  color: #34c759;
}

.hero-section .delivery-info h4 {
  font-family: "Poppins";
  font-weight: 600;
}

.hero-section .delivery-info p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 12px;
  color: rgba(165, 165, 165, 1);
}
/* melikeunsaldi/BE-7/Hero-Section part ends */

/*#BE-9/ Features 02 / HilalSeyhan / START*/
.features-02 {
  font-family: "Poppins";
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  background-color: #fefefe;
}

.features-02-content {
  max-width: 53ch;
  align-self: flex-end;
  margin-inline: 50px;
}

.features-02-content h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #f9ba45;
  margin-bottom: 10px;
}

.features-02-content h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  color: #2e2e2e;
  margin-bottom: 20px;
}
.features-02-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #676767;
  margin-bottom: 35px;
}

.features-02 .explore-now {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  width: 201px;
  height: 70px;
  display: inline-block;
  align-content: center;
  border: 2px solid #ff6f61;
  color: #ff6f61;
  background-color: #fefefe;
  border-radius: 12px;
  opacity: 0px;
  text-align: center;
  text-decoration: none;
}

.features-02 .explore-now:hover {
  transition: all 0.8s;
  background-color: #ff6f61;
  color: #fefefe;
}

.features-02-image-card {
  position: relative;
}

.features-02-card {
  font-family: "Inter";
  max-width: 166px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  align-items: center;
  justify-content: center;
  padding: 7px;
  position: absolute;
  top: 37%;
  right: -20%;
}

.features-02-card .features-02-card-img {
  background: #feeded;
  border-radius: 15px;
  display: flex;
  margin: auto;
  margin-block: 6px;
  margin-inline: 8px;
  padding-block: 10px;
  align-items: center;
  justify-content: center;
}

.features_02_img2 {
  max-width: 59px;
}

.features-02-card h5 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-align: center;
  display: block;
  padding-top: 20px;
}

.features-02-card p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  color: rgb(0, 0, 0);
  text-align: center;
  display: block;
  padding-top: 4%;
}

.features_02_img3 {
  max-width: 50px;
  position: absolute;
  bottom: -2%;
  left: 6%;
}

/*#BE-9/ Features 02 / HilalSeyhan / FINISH*/
