/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* melikeunsaldi/BE-7/Hero-Section part begins */
.hero-section {
    display: flex;
    overflow: hidden;
    align-items: center;
    max-width: 1296px;
    padding: 20px;
    margin: 0 auto;
}

.hero-section .header-content {
    width: 50%;
}

.hero-section .tagline {
    margin-block: 20px;
    border-radius: 23px;
    display: inline-flex;
    background-color:rgba(253, 236, 236, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: rgba(245, 85, 86, 1);
    padding: 15px 20px;
}

.hero-section .header-content h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 800;
    line-height: 88px;
    color: rgba(46, 46, 46, 1);

}

.hero-section .header-content .highlight {
    font-weight: 500;
    letter-spacing: -0.05em;
    color: rgba(245, 75, 75, 1);


}

.hero-section .header-content h1 span {
    font-weight: 500;
    letter-spacing: -0.08em;
}

.hero-section .header-content p {
    font-family: 'Poppins', sans-serif;
    max-width: 500px;
    margin-block: 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.005em;
    color: rgba(103, 103, 103, 1);
}

.hero-section .actions {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-section .order-now{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    display: inline-flex;
    border-radius: 12px;
    background: rgba(248, 96, 97, 1);
    color:rgba(255, 250, 250, 1);
    border: none;
    padding: 20px 30px;
    cursor: pointer;
    transition: opacity 0.4s ease;
}

.hero-section .order-now:hover {
    opacity: 0.8; 
}

.hero-section .play-button {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    box-shadow: 0px 20px 49px -10px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .play-icon {
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 17px solid rgba(253, 197, 94, 1);
    box-shadow: 0px 8px 15px 0px rgba(253, 197, 94, 0.2);
    transform: rotate(-90deg);
}

.hero-section .order-process {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.01em;
    color:rgba(54, 54, 54, 1);
    cursor: pointer;
}

.hero-section .header-image {
    display: flex;
    position: relative;
    flex-direction: row;
}

.hero-section .header-image > img {
    max-width: 350px;
    transition-duration: 0.5s;
}

.hero-section .header-image > img:hover{
    transform: scale(1.1); 
}

.hero-section .header-orange {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    box-shadow:  0px 50px 80px 0px rgba(0, 0, 0, 0.08);
}

.hero-section .header-orange .orange-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.hero-section .header-orange .rectangle {
    background-color: rgba(255, 166, 16, 1);
    width: 20px;
    height: 2px;
    border-radius: 1px;
}

.hero-section .header-orange h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.hero-section .header-orange h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.hero-section .header-orange h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgba(165, 165, 165, 1);
}

.hero-section .shopping-icon {
    background: linear-gradient(180deg, #FF7071 0%, #E73D3E 100%);
    border-radius: 14px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0; 
    transform: translateY(30px);
    transition: opacity 0.4s ease;
    cursor: pointer;
}
.hero-section .shopping-icon:hover {
    opacity: 0.8; 
}

.hero-section .header-delivery {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 50px 80px 0px rgba(0, 0, 0, 0.08);
    position: absolute;
    top: 0;
    right: 0;
}

.hero-section .delivery-icon {
    font-size: 24px;
    padding-right: 15px;
    color: #34c759;
}

.hero-section .delivery-info h4 {
    font-family: 'Poppins';
    font-weight: 600;
}

.hero-section .delivery-info p {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
    color: rgba(165, 165, 165, 1);
}
/* melikeunsaldi/BE-7/Hero-Section part ends */